.publication-altmetric {
  float: right;
  margin-left: 10px;
  margin-top: -20px; /* Adjust the value as per your preference */
  margin-right: -75px; /* Adjust the value as per your preference */
}
