---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import 'publications.css';

html {
  font-size: 12px; // originally 16px

  @include breakpoint($medium) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}

/* Custom CSS to set the same dimensions for feature row images */
.feature-row .image-wrapper {
  display: block;
  width: 100px; /* Adjust the width to your desired size */
  height: auto;
  margin: 0 auto; /* Center the images if needed */
}
