.publications-list {
  max-width: 960px; /* Adjust the value as per your preference */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* Adjust the value as per your preference */
  padding-right: 20px; /* Adjust the value as per your preference */
}
