---
---

<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <link rel="stylesheet" href="{{ '/assets/css/main.scss' | relative_url }}" />

  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var featureImages = document.querySelectorAll(".feature-row img");
        featureImages.forEach(function (img) {
          img.style.width = "300px"; // Adjust the width as needed
          img.style.height = "auto";
        });
      });
    </script>

  </body>
</html>
